body {
  font-family: 'Righteous', cursive;
  min-height: 800px;
  background-image: url('https://i.pinimg.com/originals/ed/e5/87/ede587a3c4083da1c79d9d4c17178301.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
h3 {
  font-size: 20px;
}
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-image: url('https://i.pinimg.com/originals/ed/e5/87/ede587a3c4083da1c79d9d4c17178301.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.modal-content {
  position: relative;
  background-color: rgba(222, 222, 222, 0.3);
  margin: auto;
  padding: 0;
  width: 80%;
  height: 70%;
  max-width: 1200px;
  animation-name: zoom;
  animation-duration: 0.5s;
}
/* .main-image {
  opacity: 1;
} */
.mySlides {
  display: none;
}
.thumbnails {
  top: 0;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.caption-container {
  text-align: center;
  color: hotpink;
  font-size: 34px;
  top: 0;
}
img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
img.hover-shadow {
  transition: 0.3s;
  border: 2px solid papayawhip;
  border-radius: 5%;
}
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 #999999, 0 6px 20px 0 #999999;
}

.navbar {
  background-color: rgba(255, 239, 213, 0.4);
  position: sticky;
  top: 0;
  z-index: 0;
}
.navbar-item {
  color: white;
}
a:hover {
  background-color: papayawhip;
  color: rgba(0, 0, 0, 0);
}
.about {
  text-align: center;
  padding: 50px 10px;
  margin-top: 3em;
  font-size: 25px;
  /* color: white; */
  background-color: rgba(255, 239, 213, 0.4);
}
.hero {
  background-color: rgba(255, 239, 213, 0.4);
}
.footer {
  background-color: rgba(255, 239, 213, 0.4);
  /* color: white; */
  margin-top: 3em;
}
.title {
  color: white;
}
.subtitle {
  /* color: white; */
  text-align: center;
}
.image-thumbnails {
  /* color: white; */
  background-color: rgba(255, 239, 213, 0.4);
  margin: 3em 0;
}
article, .image-thumbnails {
  text-align: center;
  font-size: 25px;
}
.glow {
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
}
.glow-box {
  color: #fff;
  animation: glow-box 1s ease-in-out infinite alternate;
}
.content-zoom-in {
  animation-name: zoom-in;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes zoom-in {
  from {
    transform:scale(1)
  }
  to {
    transform:scale(0)
  }
}
@keyframes zoom {
  from {
    transform:scale(0)
  }
  to {
    transform:scale(1)
  }
}
@keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
@keyframes glow-box {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
