.header {
  background-image: url('https://i.pinimg.com/originals/ed/e5/87/ede587a3c4083da1c79d9d4c17178301.jpg');
  background-size: cover;
  height: 700px;
}
.navbar {
  background-color: rgba(0, 0, 0, 0);
  position: sticky;
  top: 0;
}
.link-box {
  height: auto;
}
.link {
  font-size: 25px;
  background-image: linear-gradient(rgba(153, 51, 255, 1), rgba(255, 0, 255, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header {
  position: relative;
}
.title-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.subtitle-box {
  margin: 60px 0 25px 0;
}
.text-box {
  font-size: 25px;
  text-align: center;
  margin-bottom: 60px;
}
.project-text {
  margin-top: 50px;
}
.project-title {
  font-size: 35px;
  background-image: linear-gradient(rgba(153, 51, 255, 1), rgba(255, 0, 255, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.project-subtitle {
  font-size: 25px;
}
.projects-subtitle {
  color: white;
  text-shadow: 0px 5px 3px rgba(255, 0, 255, 1);
}
.skill-box {
  padding-bottom: 60px;
}
.bar-box {
  position: absolute;
}
.project-box {
  transition: box-shadow 0.5s;
  text-align: center;
}
.project-box:hover {
  box-shadow: 0px 4px 9px 5px rgba(211, 0, 255, 0.3);
}
.box {
  height: 450px;
}
.contact-container {
  color: white;
}
.contact-box {
  text-align: center;
  position: relative;
  height: 650px;
}
/* .contact-box:hover {
  background-image: linear-gradient(rgba(153, 51, 255, 1), papayawhip, rgba(255, 0, 255, 1));
} */
.contact-box-1 {
  background-image: url('https://i.pinimg.com/736x/16/8a/1a/168a1af5f6d637b7c217e9da7eaf231f.jpg');
  background-size: cover;

}
.contact-box-2 {
  background-image: url('https://i.pinimg.com/736x/bd/85/65/bd8565b27edecf43c22bff0b098b3b63--manga-anime-anime-art.jpg');
  background-size: cover;
}
.contact-box-3 {
  background-image: url('https://i.pinimg.com/736x/3d/4e/87/3d4e87d09aa7e574f1ef519d917477d4--naruto-kakashi-naruto-art.jpg');
  background-size: cover;
}
.contact-box-4 {
  background-image: url('http://s3.amazonaws.com/uploads.kidzworld.com/article/28340/Bleach_01.jpg?1185233998');
  background-size: cover;
}
.contact-details {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.my-link {
  color: rgba(0, 0, 0, 0);
}
.contact-details:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.title {
  font-size: 80px;
  color: white;
  text-align: center;
}
.subtitle {
  font-size: 50px;
  text-align: center;
}
.about {
  margin-top: 25px;
}
.projects {
  margin-bottom: 80px;
}
.about-subtitle {
  background-image: linear-gradient(rgba(153, 51, 255, 1), papayawhip, rgba(255, 0, 255, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tech-subtitle {
  font-size: 35px;
}
a {
  background-image: linear-gradient(rgba(153, 51, 255, 1), rgba(255, 0, 255, 1));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
ul {
  text-align: center;
  font-size: 20px;
}
.link-box:hover {
  background-image: linear-gradient(rgba(153, 51, 255, 1), papayawhip, rgba(255, 0, 255, 1));
}
.image-bar {
  background-image: url('https://www.capsulecomputers.com.au/wp-content/uploads/2016/07/ccbanner-anime.png');
  background-size: cover;
  height: 400px;
  /* position: relative; */
}
.contact-box {
  position: relative;
}
.image-bar-box {
  position: relative;
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
.bar-image1 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-image: url('https://i6.mangapanda.com/bleach/647/bleach-6344977.jpg');
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.bar-image2 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-image: url('https://i.pinimg.com/736x/3a/b2/75/3ab2753e2495742c22744a30716d0a6d--read-tokyo-ghoul-tokyo-ghoul-manga-pages.jpg');
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.bar-image3 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-image: url('http://pm1.narvii.com/6067/efdc9dc53dd925b1bf30094a2f174e85dd608746_hq.jpg');
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.bar-image4 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-image: url('https://i8.mangapanda.com/berserk/19/berserk-1591441.jpg');
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.bar-image5 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-image: url('http://pre08.deviantart.net/8b0f/th/pre/f/2012/101/a/b/death_note_doujinshi_page_2_by_shaami-d4vsou1.jpg');
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.image-bar-box:hover .contact-details{
  bottom: 0;
  height: 400px;
}
.contact-image1 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-image: url('http://static.comicvine.com/uploads/scale_super/11115/111150904/3679578-berserk-27220.jpg');
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.contact-image2 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-image: url('https://i8.mangareader.net/boku-no-hero-academia/43/boku-no-hero-academia-5693403.jpg');
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.contact-image3 {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-image: url('http://pre13.deviantart.net/c5f1/th/pre/f/2012/200/0/1/naruto__road_to_ninja_movie_manga___page_5_by_uzumaki_no_hairol-d57tubx.jpg');
  background-size: cover;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}
.contact-box:hover .contact-details {
  bottom: 0;
  height: 100%;
}
.contact-details {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
