body {
  font-family: 'Righteous', cursive;
  min-height: 800px;
  background-image: url('https://i.pinimg.com/originals/ed/e5/87/ede587a3c4083da1c79d9d4c17178301.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #fffdfa;
}
h3 {
  font-size: 20px;
}
.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.modal {
  display: none;
  /* position: fixed; */
  z-index: 1;
  padding-top: 50px;
  left: 0;
  top: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-image: url('https://i.pinimg.com/originals/ed/e5/87/ede587a3c4083da1c79d9d4c17178301.jpg');
  background-size: cover;
  background-attachment: fixed;
}
.modal-content {
  position: relative;
  background-color: rgba(222, 222, 222, 0.3);
  margin: auto;
  padding: 0;
  width: 80%;
  height: 70%;
  max-width: 1200px;
  animation-name: zoom;
  animation-duration: 0.5s;
}
/* .main-image {
  opacity: 1;
} */
.mySlides {
  display: none;
}
.thumbnails {
  top: 0;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.caption-container {
  text-align: center;
  color: hotpink;
  font-size: 34px;
  top: 0;
}
img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
img.hover-shadow {
  transition: 0.3s;
  /* border: 2px solid papayawhip; */
  /* border-radius: 5%; */
}
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 papayawhip, 0 6px 20px 0 #ff4da6;
}

.navbar {
  background-color: rgba(255, 239, 213, 0.4);
  position: sticky;
  top: 0;
  z-index: 0;
}
.navbar-item {
  color: white;
}
a:hover {
  background-color: papayawhip;
}
.modal-content, a:hover {
  background-color: rgba(255, 239, 213, 0.4)
}
.footer, a:hover {
  background-color: rgba(255, 239, 213, 0.4);
}
.modal-content, a {
  color: white;
}
.about {
  text-align: center;
  /* padding: 300px 100px; */
  margin: 3em 0 2em 0;
  font-size: 25px;
  border: 40px solid #fffdfa;
  border-radius: 2%;
}
.about-text {
  margin: 40px;
  padding: 30px;
  background-color: #fffdfa;
}

.subtitle, .about {
  padding-top: 25px;
}
p {
  font-family: sans-serif;
}
p, .about {
  color: #999999;
  padding: 6px;
  /* font-family: sans-serif; */
}
.hero {
  /* background-color: #fffdfa; */
  border-top: 30px solid #fffdfa;
  border-right: 300px solid #fffdfa;
  border-bottom: 30px solid #fffdfa;
  border-left: 10px solid #fffdfa;
}
.footer {
  background-color: #fffdfa;
  margin-top: 3em;
}
.title {
  background-color: #fffdfa;
  padding: 20px 400px 20px 10px;
}
.subtitle {
  text-align: center;
  font-size: 40px;
}
.image-box {
  border: 40px solid #fffdfa;
  margin: 3em 0 0 0;
  padding: 1em;
}
.projects {
  /* background-color: #fffdfa; */
  border: 40px solid #fffdfa;
  margin: 3em 0 0 0;
  padding: 1em;
}
.projects2 {
  /* background-color: #fffdfa; */
  margin: 0 0 3em 0;
  padding: 1em;
  border: 40px solid #fffdfa;
}
/* .image-thumbnail {
  background-color: black;
} */
article, .image-thumbnails {
  text-align: center;
  font-size: 25px;
}
.close-box {
  font-size: 10px;
  text-align: right;
}
.glow {
  color: #fff;
  animation: glow 1s ease-in-out infinite alternate;
}
.glow-box {
  color: #fff;
  animation: glow-box 1s ease-in-out infinite alternate;
}
.content-zoom-in {
  animation-name: zoom-in;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}

@keyframes zoom-in {
  from {
    transform:scale(1)
  }
  to {
    transform:scale(0)
  }
}
@keyframes zoom {
  from {
    transform:scale(0)
  }
  to {
    transform:scale(1)
  }
}
@keyframes glow {
  from {
    text-shadow: 0 0 2px #fff, 0 0 5px #fff, 0 0 7px #e60073, 0 0 10px #e60073, 0 0 12px #e60073, 0 0 15px #e60073, 0 0 17px #e60073;
  }

  to {
    text-shadow: 0 0 5px #fff, 0 0 7px #ff4da6, 0 0 10px #ff4da6, 0 0 12px #ff4da6, 0 0 15px #ff4da6, 0 0 17px #ff4da6, 0 0 20px #ff4da6;
  }
}
/* @keyframes glow-box {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    box-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
} */
.fade {
  position: relative;
  width: 50%;
  margin: 20px 0;
}
.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.fade:hover .middle {
  opacity: 1;
}
.text {
  font-size: 40px;
  text-align: center;
  margin: auto;
}
.linkedin {
  align-self: flex-end;
}
@media(max-width: 400px) {
  p {
    font-size: 12px;
  }
  h2 {
    font-size: 20px;
  }
  h1 {
    font-size: 25px;
  }
  .hero {
    display: none;
  }
  .about {
    margin: 2em 0 1em 0;
    border: 30px solid #fffdfa;
  }
  .about-text {
    margin: 5px;
    padding: 15px;
  }
  .subtitle {
    font-size: 30px;
  }
  .image-box {
    border: 20px solid #fffdfa;
    margin: 0 0 0 0;
  }
  .text {
    font-size: 25px;
  }
  /* .about-text {
    margin: 15px;
    padding: 10px;
  } */
  .projects2 {
    margin: 0 0 2em 0;
    padding: 1em;
    border: 10px solid #fffdfa;
  }
}
